<section class="hero">
    <div class="hero__background" style="background-image: url('https://images.unsplash.com/photo-1534438327276-14e5300c3a48?w=1920&q=80');"></div>
    <div class="hero__overlay"></div>
    <div class="hero__container">
        <div class="hero__content">
            <h1 class="hero__title">{{ .Title | default "Transform Your Body" }}</h1>
            <p class="hero__subtitle">{{ .Params.subtitle | default .Site.Params.description }}</p>
            <div class="hero__cta">
                <a href="/programs/" class="btn btn--primary">Explore Programs</a>
                <a href="/posts/" class="btn btn--secondary">Read Articles</a>
            </div>
        </div>
    </div>
</section>
